* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #00688B;
  background: linear-gradient(45deg,  #294972, #00688B);
  width: 80%;
  margin: auto;
}

h1 {
  color: #D9D9F3;
  text-align: center;
  padding: 15px;
  font-size: 200%;
}

form {
  margin-bottom: 20px;
  background-color: #162252;
  margin: auto;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  width: 690px;
}

p {
  color: #D9D9F3;
  width: 55%;
  padding-right: 15px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#input-field,
.submit-btn {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
  font-size: 90%;
  outline: none;
  border: none;
  text-align: center;
}

#input-field::placeholder {
  color: #3b4071;
}

.submit-btn {
  background-color: #B0E2FF;
  color: black;
  font-family: fantasy;
  transition: all 0.5s;
  text-transform: uppercase;
  cursor: pointer;
  padding: 7.5px 35px;
}

.submit-btn:hover {
  background-color: #362256;
  cursor: pointer;
}

#ocean-images {
  margin: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px 350px;
  grid-template-areas: "ocean1 ocean2" "ocean3 ocean4";
  background-color: #EDF4F1;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
}

#ocean1, #ocean2, #ocean3, #ocean4 {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

#ocean1 {
  grid-area: ocean1;
}

#ocean2 {
  grid-area: ocean2;
}

#ocean3 {
  grid-area: ocean3;
}

#ocean4 {
  grid-area: ocean4;
}
